
*.pyc
*.pyc
api-melody-duringmeeting-13-marzo/stat-description-works/.idea/LNKD.tech Editor.xml
api-melody-duringmeeting-13-marzo/stat-description-works/.idea/modules.xml
api-melody-duringmeeting-13-marzo/stat-description-works/.idea/stat-description-works.iml
api-melody-duringmeeting-13-marzo/stat-description-works/.idea/modules.xml
api-melody-duringmeeting-13-marzo/stat-description-works/.idea/stat-description-works.iml
